*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
h1{
    text-align: center;
    color: rgb(12, 12, 116);
}
.container{
    display: flex;
    justify-content: space-around;
}
.desert-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    background-color: beige;
    width: 350px;
    border: 2px solid black;
}
#cart{
    position: relative;
    box-sizing: border-box;
    background-color: aliceblue;
    margin: 10px 10px 10px;
    padding: 5px;
    max-height: 700px;
    width: 200px;
}
#trash{
    color: rgb(247, 104, 104);
    position: absolute;
    right: 180px;
    top: 48px;
    cursor: pointer;
}
#trash:hover{
   color: red;
}
#cart > h2{
    padding: 5px;
    color: rgb(67, 12, 34);
}
.cart-style{
    background-color: lightgray;
    margin: 10px auto;
    padding: 5px;
    width: 150px;
}
#btn{
    background-color: orange;
    padding: 5px;
    margin: 5px auto;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(240, 141, 11);
}
#heading{
    display: none;
}